# CPU
# torch==2.3.1
# torch-geometric==2.3.1

# GPU: CUDA 12.8
# il driver cuda deve essere già installato
# pip install torch==2.8.0 torchvision==0.23.0 torchaudio==2.8.0 --index-url https://download.pytorch.org/whl/cu128
# pip install torch_geometric
# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.8.0+cu128.html

matplotlib==3.7.2
networkx==3.2.1
numpy==1.25.2
pandas==2.0.3
scikit-learn==1.5.0
pm4py==2.2.16

graphviz
tqdm
seaborn